body {
  background-color: #f0f8ff;
  color: #07070e;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  text-align: center;
  color: black;  
}

p {
  text-align: center;
  font-size: 16px;
  color: #333;
}

button {
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 4px;
}

input {
  height: 48px;
  padding: 4px 8px;
  margin: 6px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}